<div class="login-container">
  <div class="login-card"> <!-- Contenedor para el cuadro de login -->
    <mat-card>
      <mat-card-title class="text-center">Iniciar Sesión</mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- Contenedor para el Campo de Usuario -->
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">El usuario es requerido.</mat-error>
          </mat-form-field>
        </div>

        <!-- Contenedor para el Campo de Contraseña -->
        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es requerida.</mat-error>
          </mat-form-field>
        </div>

        <div class="text-center">
          <button type="submit" mat-raised-button color="primary">Iniciar Sesión</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
